<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}{% endblock %} - Kadalu Storage Manager</title>
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <script defer src="/static/js/alpinejs@3.10.2.js"></script>
  </head>
  <body>
      <div class="columns">
          <div class="column is-3">
              Side Menu
          </div>
          <div class="column is-9">
              {% block body %}{% endblock %}
          </div>
      </div>
  </body>
</html>
