<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block page_title %}{% endblock %} - Kadalu Storage Manager</title>
        <link rel="stylesheet" href="/static/css/stylesheet.css">
        <link rel="stylesheet" href="/static/css/app.css">
        <script src="/static/js/kadalu-storage-min.js"></script>
        <script src="/static/js/app.js"></script>
        <script defer src="/static/js/alpinejs@3.10.2.js"></script>
    </head>
    <body>
        <nav class="level has-background-primary">
            <div class="level-left">
                <div class="level-item">
                    <div class="mx-4 my-2">
                        <a href="/">
                            <img src="/static/logo.png" style="height:50px;"/>
                        </a>
                    </div>
                </div>
            </div>

            <div class="level-right" x-data="{username: getLoggedinUsername(qparams.get('mgr')), dropdownShow: false}">
                <div class="level-item">
                    <div class="dropdown is-right mx-4 my-2" :class="dropdownShow ? 'is-active' : ''" x-show="username">
                        <div class="dropdown-trigger">
                            <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu" @click="dropdownShow = !dropdownShow" @click.outside="dropdownShow = false">
                                <span x-text="username"></span>
                                <span class="icon is-small">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <a @click="await logout(qparams.get('mgr'))" class="dropdown-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 icon is-small">
                                        <path fill-rule="evenodd" d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm5.03 4.72a.75.75 0 010 1.06l-1.72 1.72h10.94a.75.75 0 010 1.5H10.81l1.72 1.72a.75.75 0 11-1.06 1.06l-3-3a.75.75 0 010-1.06l3-3a.75.75 0 011.06 0z" clip-rule="evenodd" />
                                    </svg>
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="px-4">
            {% block body %}{% endblock %}
        </div>
        <script>
         var qparams = new URLSearchParams(window.location.search);
        </script>
    </body>
</html>
