{% extends "layouts/default.html.j2" %}

{% block page_title %}Dashboard{% endblock %}
{% block body %}
    Global dashboard
    <script>
     var qparams = new URLSearchParams(window.location.search);
     document.addEventListener('alpine:init', () => {
         Alpine.data('data', () => ({
             link_name: "dashboard",
             mgr_name: qparams.get("mgr")
         }))
     })
    </script>
{% endblock %}
