{% extends "layouts/default.html.j2" %}

{% block page_title %}Home{% endblock %}
{% block body %}
    <section class="hero has-background-info-light is-medium mb-6">
        <div class="hero-body has-text-centered">
            <p class="title">
                One place to manage all your Kadalu Storage pools.
            </p>
            <p class="subtitle">
                100% Open Source, Secured web app that lets you manage your storage pools from any device.
            </p>
            <a class="button is-primary" href="/instances">Get Started</a>
        </div>
    </section>

    <div class="columns px-6">
        <div class="column is-4">
            <div class="p-4">
                <p class="title">
                    Secured
                </p>
                <p>
                    API calls initiated by the browser. No data sent to our Servers.
                </p>
            </div>
        </div>

        <div class="column is-4">
            <div class="p-4">
                <p class="title">
                    Zero install
                </p>
                <p>
                    Cloud hosted UI lets you get started with Kadalu Storage within minutes.
                </p>
            </div>
        </div>

        <div class="column is-4">
            <div class="p-4">
                <p class="title">
                    100% Open Source
                </p>
                <p>
                    Run Kadalu Storage console locally when required. Source code is available at <a href="https://github.com/kadalu-tech/console">Github</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
