{% extends "layouts/default.html.j2" %}

{% block page_title %}List of Storage Manager instances{% endblock %}
{% block body %}
    <div x-data="data" x-init="getStorageManagers" class="p-4">
        <nav class="breadcrumb mb-6" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">{% include "partials/icon_home.svg" %}</a></li>
                <li class="is-active"><a href="#" aria-current="page">Instances</a></li>
            </ul>
        </nav>
        <article class="message is-success" x-show="message != ''">
            <div class="message-body" x-text="message"></div>
        </article>
        <div x-show="storageManagers.length == 0 && showWelcome" class="columns">
            <section class="hero column is-8-desktop is-offset-2-desktop">
                <div class="hero-body has-text-centered">
                    <p class="title">
                        New to Kadalu Storage Console?
                    </p>
                    <p class="subtitle">
                        Start adding Kadalu Storage manager instances.
                    </p>
                    <button class="button is-primary my-3" @click="showWelcome = false; showAddStorageManager = true">Add</button>
                    <p class="help">Run <code>kadalu info</code> to know the URL of a Kadalu Storage instance. <strong>Note</strong>: All instances details are saved in local storage of your browser. The Manager URL added here are not available in other browser instances.</p>
                    <img src="/static/undraw_delivery_truck_vt6p.svg" class="mt-6"/>
                </div>
            </section>
        </div>

        <div x-show="showAddStorageManager" class="mr-5 mb-6">
            <article class="message is-info">
                <div class="message-body">
                    <h3 class="has-text-weight-semibold">Add a new Storage Manager instance.</h3>
                    All instances details are saved in local storage of your browser. The Manager URL added here are not available in other browser instances. API calls to get Storage Pools and Volumes information are initiated from the browser and no information is shared with us.
                </div>
            </article>

            <article class="message is-danger" x-show="error != ''">
                <div class="message-body" x-text="error"></div>
            </article>
            <form @submit.prevent="addInstance">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" x-model="smName" type="text" placeholder="Dev">
                    </div>
                </div>

                <div class="field">
                    <label class="label">URL</label>
                    <div class="control">
                        <input class="input" x-model="smUrl" type="text" placeholder="http://localhost:3000">
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <input type="submit" class="button is-link" value="Add"/>
                    </div>
                    <div class="control">
                        <input type="reset" class="button is-link is-light" @click="showAddStorageManager = false; showWelcome = true" value="Cancel"/>
                    </div>
                </div>
            </form>
        </div>
        <h1 class="is-size-5 mb-4 px-2" x-show="storageManagers.length > 0">
            List of instances
            <button class="button is-primary is-clickable ml-2 is-small"
                    title="Add a new Storage Manager instance"
                    @click="showAddStorageManager = true"
                    x-show="!showAddStorageManager">
                <span class="icon is-small">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
                    </svg>
                </span>
                <span>Add</span>
            </button>
        </h1>
        <div class="columns">
            <template x-for="sm in storageManagers">
                <div class="column is-3">
                    <div class="card is-clickable m-2" @click="location.href=poolUrl(pool)">
                        <div class="has-text-right" x-data="{dropdownShowing: false}">
                            <div class="dropdown is-right" :class="dropdownShowing ? 'is-active' : ''">
                                <div class="dropdown-trigger is-clickable" x-html="dropdownTrigger()"></div>
                                <div class="dropdown-menu has-text-left" role="menu">
                                    <div class="dropdown-content">
                                        <a class="dropdown-item" @click="deleteInstance(sm.name)" x-html="`<span class='has-text-danger'>${SVG_DELETE}</span> Delete`">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <svg xmlns="http://www.w3.org/2000/svg" x-show="sm.reachable" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 icon has-text-success">
                                        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm.53 5.47a.75.75 0 00-1.06 0l-3 3a.75.75 0 101.06 1.06l1.72-1.72v5.69a.75.75 0 001.5 0v-5.69l1.72 1.72a.75.75 0 101.06-1.06l-3-3z" clip-rule="evenodd" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" x-show="!sm.reachable" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 icon has-text-danger">
                                        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-.53 14.03a.75.75 0 001.06 0l3-3a.75.75 0 10-1.06-1.06l-1.72 1.72V8.25a.75.75 0 00-1.5 0v5.69l-1.72-1.72a.75.75 0 00-1.06 1.06l3 3z" clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4" x-text="sm.name" @click="location.href=storageManagerUrl(sm)"></p>
                                    <p class="subtitle is-6" x-text="sm.url" @click="location.href=storageManagerUrl(sm)"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>

    </div>
    <script>
     var qparams = new URLSearchParams(window.location.search);

     document.addEventListener('alpine:init', () => {
         Alpine.data('data', () => ({
             linkName: "storage_managers",
             showWelcome: true,
             showAddStorageManager: false,
             showAddButton: true,
             smName: "",
             smUrl: "",
             error: "",
             message: "",
             storageManagers: [],
             storageManagerUrl(sm) {
                 return '/pools?mgr=' + sm.url;
             },
             storageManagerStatus(idx) {
                 fetch(this.storageManagers[idx].url + '/ping')
                     .then((response) => {
                         if (response.status === 200) {
                             this.storageManagers[idx].reachable = true;
                         } else {
                             this.storageManagers[idx].reachable = false;
                         }
                     });
             },
             getStorageManagers() {
                 var instances = window.localStorage.getItem("storage_managers");
                 if (!instances) {
                     this.storageManagers = [];
                     this.showAddButton = false;
                     return;
                 }

                 this.storageManagers = JSON.parse(instances);
                 for (var i=0; i<this.storageManagers.length; i++) {
                     this.storageManagerStatus(i);
                 }
                 if (this.storageManagers.length === 0) {
                     this.showAddButton = false;
                 }
             },
             addInstance() {
                 var obj = this;
                 if (obj.smName == "") {
                     obj.error = "Invalid instance name";
                     return
                 }
                 if (obj.smUrl == "") {
                     obj.error = "Invalid instance URL";
                     return
                 }
                 try {
                     var url = new URL(obj.smUrl);
                     obj.smUrl = url.protocol + "//" + url.host;
                 } catch (error) {
                     obj.error = "Invalid instance URL";
                     return;
                 }

                 for (var i=0; i<obj.storageManagers.length; i++) {
                     if (obj.storageManagers[i].name.toLowerCase() === obj.smName.toLowerCase()) {
                         obj.error = "Storage Manager Name already exists"
                         return
                     }
                     if (obj.storageManagers[i].url.toLowerCase() === obj.smUrl.toLowerCase()) {
                         obj.error = "Storage Manager URL already exists"
                         return
                     }
                 }
                 obj.error = "";
                 var instances = window.localStorage.getItem("storage_managers");
                 if (!instances) instances = "[]";
                 var data = JSON.parse(instances);
                 data.unshift({
                     name: obj.smName,
                     url: obj.smUrl
                 });
                 window.localStorage.setItem("storage_managers", JSON.stringify(data));
                 obj.getStorageManagers();
                 obj.smName = "";
                 obj.smUrl = "";
                 obj.showAddStorageManager = false;
                 obj.message = "Storage Manager added successfully!";
                 obj.showAddButton = true;
                 setTimeout(function() {
                     obj.message = "";
                 }, 5000);
             },
             deleteInstance(smName) {
                 if (!confirm(`Are you sure want to delete ${smName}?`)) {
                     return;
                 }
                 var instances = window.localStorage.getItem("storage_managers");
                 if (!instances) return;

                 this.storageManagers = JSON.parse(instances).filter(function(value, index, arr){
                     return value.name != smName;
                 });
                 window.localStorage.setItem("storage_managers", JSON.stringify(this.storageManagers));
                 if (this.storageManagers.length === 0) {
                     this.showAddButton = false;
                 }
                 this.getStorageManagers();
             }
         }))
     })
    </script>
{% endblock %}
