{% extends "layouts/default.html.j2" %}

{% block page_title %}Login{% endblock %}
{% block body %}
    <div x-data="data" class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="column is-6-desktop is-12-mobile is-offset-3-desktop">
                    <div class="box">
                        <article class="message is-danger" x-show="error != ''">
                            <div class="message-body" x-text="error"></div>
                        </article>
                        <p class="has-text-centered">Login to Kadalu Storage Manager.</p>
                        <p class="has-text-centered"><span class="tag is-warning" x-text="mgrUrl"></span></p>
                        <form @submit.prevent="onLogin">
                            <div class="field">
                                <label class="label">Username</label>
                                <div class="control">
                                    <input class="input" type="text" x-model="username" placeholder="Username">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control">
                                    <input class="input" type="password" x-model="password" placeholder="Password">
                                </div>
                            </div>

                            <div class="field has-text-centered">
                                <div class="control">
                                    <input type="submit" class="button is-primary" value="Login"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
     var qparams = new URLSearchParams(window.location.search);
     /* 
        - Check if Token exists for the given mgr URL
        - If exists, redirect to dashboard
        - If not exists, stay in login page
        - Call Login API on Submit, if valid save the tokens in Cookie
      */
     /* If Manager URL is not set */
     if (!qparams.get("mgr")) {
         location.href = "/";
     }

     /* Redirect to dashboard if already logged in */
     var mgrApiCookieName = encodeURIComponent(qparams.get("mgr"));
     var mgrApiToken = getCookieValue(`${mgrApiCookieName}-token`);
     if (mgrApiToken) {
         location.href = `/pools?mgr=${qparams.get("mgr")}`;
     }

     document.addEventListener('alpine:init', () => {
         Alpine.data('data', () => ({
             linkName: "login",
             username: "",
             password: "",
             mgrUrl: qparams.get("mgr"),
             error: "",
             async onLogin() {
                 if (this.username.trim() == "") {
                     this.error = "Username is empty";
                     return
                 }

                 if (this.password.trim() == "") {
                     this.error = "Password is empty";
                     return
                 }
                 const mgr = new StorageManager(this.mgrUrl);
                 try {
                     const apiKey = await mgr.generateApiKey(this.username, this.password);
                     setCookie(`${mgrApiCookieName}-token`, apiKey.token);
                     setCookie(`${mgrApiCookieName}-userid`, apiKey.user_id);
                     setCookie(`${mgrApiCookieName}-api_key_id`, apiKey.id);
                     setLoggedinUsername(qparams.get("mgr"), this.username);
                     location.href = `/pools?mgr=${qparams.get("mgr")}`;
                 } catch (error) {
                     this.error = error;
                 }
             }
         }))
     })
    </script>
{% endblock %}
