{% extends "layouts/default.html.j2" %}

{% block page_title %}Pools List{% endblock %}
{% block extra_menus %}
    <a x-data="{mgrUrl: qparams.get('mgr')}" :href="nodesUrl(mgrUrl)" class="navbar-item">
        Nodes
    </a>
{% endblock %}
{% block body %}
    <div x-data="data" class="p-4">
        {% with %}
            {% set menus=[{"name": "Pools"}] %}
            {% include "partials/breadcrumb.html.j2" %}
        {% endwith %}

        <div x-show="pools.length == 0 && showWelcome" class="columns">
            <section class="hero column is-8-desktop is-offset-2-desktop">
                <div class="hero-body has-text-centered">
                    <p class="title">
                        No Storage pools yet!
                    </p>
                    <p class="subtitle">
                        Start creating Pools.
                    </p>
                    <button class="button is-primary my-3" @click="showWelcome = false; showCreatePool = true">Create</button>
                    <p class="help"></p>
                    <img src="/static/undraw_ideas_re_7twj.svg" class="mt-6"/>
                </div>
            </section>
        </div>

        <div class="modal" :class="showCreatePool ? 'is-active' : ''">
            {% include "partials/pool_create.html" %}
        </div>

        <nav class="level has-background-primary-light py-4" x-show="pools.length > 0">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Pools</p>
                    <p class="title is-size-5" x-text="pools.length"></p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <a :href="nodesUrl(mgrUrl, pool)">
                        <p class="heading">Nodes</p>
                        <p class="title is-size-5" x-text="nodes.length"></p>
                    </a>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Storage Units</p>
                    <p class="title is-size-5" x-text="poolsStorageUnitsCount(pools)"></p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Utilization</p>
                    <div class="title is-size-5" style="position: relative">
                        <div class="px-2" x-text="poolUtilization(pools)"></div>
                        <div class="px-2 is-size-7 has-text-grey" x-text="`${poolSizePercentage(pools)}%`"></div>
                        <div class="number-bar-in-header">
                            <div :style="{width: `${poolSizePercentage(pools)}%`, 'background-color': numberBarColor(poolSizePercentage(pools))}" class="number-bar-inner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <h1 class="is-size-5 mb-4 px-2"  x-show="pools.length > 0">
            List of Pools
            <button class="button is-primary is-small is-clickable ml-2"
                    title="Create a Pool"
                    @click="showCreatePool = true"
                    x-show="showCreateButton">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="icon is-small">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
                </svg>
                <span>Create</span>
            </button>
        </h1>
        <div class="columns is-multiline">
            <template x-for="(pool, idx) in pools">
                <div class="column is-4-tablet is-3-widescreen">
                    <div class="card is-3">
                        <article class="message is-danger" x-show="cardErrors[idx] != '' && cardErrors[idx] != undefined">
                            <div class="message-body">
                                <p class="has-text-right"><button class="delete" aria-label="delete" @click="cardErrors[idx] = ''"></button></p>
                                <p x-html="cardErrors[idx]"></p>
                            </div>
                        </article>
                        <div class="has-text-right" x-data="{dropdownShowing: false}">
                            <div class="dropdown is-right" :class="dropdownShowing ? 'is-active' : ''">
                                <div class="dropdown-trigger is-clickable" x-html="dropdownTrigger()"></div>
                                <div class="dropdown-menu has-text-left" role="menu">
                                    <div class="dropdown-content">
                                        <a class="dropdown-item" @click="startPool(idx)" x-html="poolStartButton(pool, idx)"></a>
                                        <a class="dropdown-item" @click="stopPool(idx)">
                                            <span x-html="poolStopButton(pool, idx)"></span>
                                        </a>
                                        <a class="dropdown-item" @click="deletePool(idx)">
                                            <span x-html="poolDeleteButton(pool, idx)"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-content is-clickable" @click="location.href=poolUrl(pool)">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-32x32" x-html="uuidThumbmail(pool.id)">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-5" x-html="poolNameAndStatus(pool)"></p>
                                    <p class="subtitle">
                                        <div class="is-size-7" x-text="pool.id"></div>
                                        <div class="is-size-7" x-text="poolType(pool)"></div>
                                    </p>
                                </div>
                            </div>
                            <div class="content">
                                <div style="position: relative">
                                    <div class="px-2" x-text="humanize(pool.metrics.size_used_bytes, true) + '/' + humanize(pool.metrics.size_bytes, true)"></div>
                                    <div class="px-2 is-size-7 has-text-grey" x-text="`${sizePercentage(pool)}%`"></div>
                                    <div class="number-bar">
                                        <div :style="{width: `${sizePercentage(pool)}%`, 'background-color': numberBarColor(sizePercentage(pool))}" class="number-bar-inner"></div>
                                    </div>
                                </div>
                                <p class="subtitle is-6">Utilization</p>

                                <div style="position: relative">
                                    <div class="px-2" x-text="humanize(pool.metrics.inodes_used_count) + '/' + humanize(pool.metrics.inodes_count)"></div>
                                    <div class="px-2 is-size-7 has-text-grey" x-text="`${inodesPercentage(pool)}%`"></div>
                                    <div class="number-bar">
                                        <div :style="{width: `${inodesPercentage(pool)}%`, 'background-color': numberBarColor(inodesPercentage(pool))}" class="number-bar-inner"></div>
                                    </div>
                                </div>
                                <p class="subtitle is-6">Inodes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
    <script>
     var qparams = new URLSearchParams(window.location.search);
     handleRedirectToLogin(qparams.get("mgr"));

     document.addEventListener('alpine:init', () => {
         Alpine.data('data', () => ({
             linkName: "pools",
             mgrUrl: qparams.get("mgr"),
             poolName: qparams.get("pool"),
             pools: [],
             nodes: [],
             showCreateButton: true,
             showCreatePool: false,
             showWelcome: false,
             error: "",
             pool: {},
             cardErrors: {},
             mgr: null,
             poolUrl(pool) {
                 return `/pool?mgr=${this.mgrUrl}&pool=${pool.name}`;
             },
             async startPool(idx) {
                 var pool = this.pools[idx];
                 try {
                     await this.mgr.pool(pool.name).start();
                     this.pools[idx] = await this.mgr.pool(pool.name).get(true);
                 } catch (error) {
                     authErrorRedirectHandle(this.mgrUrl, error);
                     this.cardErrors[idx] = `Failed to start the pool.<br/>${error}`
                     var obj = this
                     setTimeout(function() {
                         obj.cardErrors[idx] = "";
                     }, 7000);
                 }
             },
             async stopPool(idx) {
                 var pool = this.pools[idx];
                 if (!confirm(`Are you sure want to stop the Pool "${pool.name}"?`)) {
                     return;
                 }

                 try {
                     await this.mgr.pool(pool.name).stop();
                     this.pools[idx] = await this.mgr.pool(pool.name).get(true);
                 } catch (error) {
                     authErrorRedirectHandle(this.mgrUrl, error);
                     this.cardErrors[idx] = `Failed to stop the pool.<br/>${error}`
                     var obj = this
                     setTimeout(function() {
                         obj.cardErrors[idx] = "";
                     }, 7000);
                 }
             },
             async deletePool(idx) {
                 var pool = this.pools[idx];
                 if (!confirm(`Are you sure want to delete the Pool "${pool.name}"?`)) {
                     return;
                 }

                 try {
                     await this.mgr.pool(pool.name).delete();
                     this.pools = this.pools.filter(function(value, index, arr){
                         return value.name != pool.name;
                     });

                     if (this.pools.length == 0){
                        this.showWelcome = true;
                     }
                 } catch (error) {
                     authErrorRedirectHandle(this.mgrUrl, error);
                     this.cardErrors[idx] = `Failed to delete the pool.<br/>${error}`
                     var obj = this
                     setTimeout(function() {
                         obj.cardErrors[idx] = "";
                     }, 7000);
                 }
             },
             async init() {
                 this.mgr = storageManagerFromCookies(this.mgrUrl);
                 try {
                     this.pools = await this.mgr.listPools(true);
                     if (this.pools.length === 0) {
                         this.showWelcome = true;
                     }
                     this.nodes = await this.mgr.listNodes();
                 } catch (error) {
                     authErrorRedirectHandle(this.mgrUrl, error);
                     this.error = error;
                 }
             }
         }))
     })
    </script>
{% endblock %}
