{% extends "layouts/default.html.j2" %}

{% block page_title %}Pool Dashboard{% endblock %}
{% block body %}
    <div x-data="data">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">{% include "partials/icon_home.svg" %}</a></li>
                <li><a :href="'/dashboard?mgr=' + mgr_url" x-text="mgr_url"></a></li>
                <li><a :href="'/pools?mgr=' + mgr_url">Pools</a></li>
                <li class="is-active"><a href="#" aria-current="page" x-text="pool_name"></a></li>
            </ul>
        </nav>
        <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Volumes</p>
                    <p class="title">5</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Nodes</p>
                    <p class="title">15</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Utilization</p>
                    <p class="title">95GiB/500GiB</p>
                </div>
            </div>
        </nav>
        Pool: <span x-text="pool_name"></span>
    </div>
    <script>
     var qparams = new URLSearchParams(window.location.search);
     document.addEventListener('alpine:init', () => {
         Alpine.data('data', () => ({
             link_name: "pool",
             pool_name: qparams.get("pool"),
             mgr_url: qparams.get("mgr")
         }))
     })
    </script>
{% endblock %}
