{% extends "layouts/default.html.j2" %}

{% block page_title %}Pool Dashboard{% endblock %}
{% block body %}
    <div x-data="data">
        Pool: <span x-text="pool_name"></span>
    </div>
    <script>
     var qparams = new URLSearchParams(window.location.search);
     document.addEventListener('alpine:init', () => {
         Alpine.data('data', () => ({
             link_name: "pool",
             pool_name: qparams.get("pool"),
             mgr_name: qparams.get("mgr")
         }))
     })
    </script>
{% endblock %}
